body {
    background-color: blanchedalmond;
    color: blue;
    font-family: "Roboto", sans-serif;

}

.nav {
    min-width: 50px;
    border: 6px solid red;
}

.navbar {
    display: inline;
}

.imgsize {
    width: 600px;
    margin: 0 auto;
    display: block;
}