body {
    background-color: blanchedalmond;
color: blue;
    font-family: "Roboto", sans-serif;
    
    }
    nav {
        width: 50cm;
         min-width: 50px;
         border: 6px solid red;
    }